body {
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #F2F2F2;
}

header {
    margin-top: 42px;
}

.header__logo {
    width: 25%;
    float: left;
    padding-left: 4%;
}

.header__menue {
    width: 60%;
    float: right;  
}

.menue__links{
    float: left;
}

.menue__links li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

.menue__btns {
    float: right;
}

.menue__btn {
    height: 45px;
    width: 110px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-succes {
    border: 1px solid #BCD0E5;
    color: #173A56;
}

.btn-alert {
    background-color: #FF9900;
    color: white;
}

/*.header__main-content {
    width: 1104px;
    height: 496px;
    left: 159px;
    top: 131px;
}
*/

.header__main-content__logo {
    float: right;
    width: 605px;
    height: 496px;
    left: 658px;
    top: 131px;
}

/*.header__main-content__info {

    /*
    width: 518px;
    height: 331px;
    left: 159px;
    top: 241px;
}
*/
.header__main-content__info__text {
    float: left;
    position: absolute;
    width: 518px;
    height: 233px;
    left: 159px;
    top: 241px;
    color: #2F281E;
    padding-left: 10vw;
    padding-right: 10vw;
}

.header__main-content__info__text p, h1 {
    margin-bottom: 25px;
}

.head {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    line-height: 15px;
}

.discription {
   line-height: 5px;
}


.header__main-content__info__btns {
    float: left;
    padding: 400px 335px 200px 70px;
    position: absolute;
}
.main-content__btn {
    height: 53px;
    width: 366px;
    left: 159px;
    top: 519px;
}

.btn-main {
    background-color: #FF9900;
    color: white;
    border: none;
    width: 175px;
    height: 53px;
    left: 159px;
    top: 519px;
}
.btn-video {
    color: #F2F2F2;
    background-color: #F2F2F2;
    border: none;
    width: 161px;
    height: 23px;
    left: 364px;
    top: 534px;
}
.btn-video a {
    color: #FF9900;
}

/* Left side 

position: absolute;
width: 518px;
height: 331px;
left: 159px;
top: 241px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
*/