body {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.row {
    height: 400px;
    text-align: center;
    padding-left: 5%;
}

.column {
    height: 350px;
    width: 15%;
    float: left;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-left: 10px;
}

.column__img {
    width: 100%;
}




/*body {
    background-color: whitesmoke;
 }
 
 * {
     box-sizing: border-box;
 }
 
 .column {
     float: left;
     width: 33.33%;
     padding: 5px;
 }
 .row::after {
     content: "";
     display: table;
     clear: both;
 }
 
 .main {
     width: 200px;
     height: 120px;
 }
 
 .imageclass img {
     border: 2px solid lightgray;
     padding: 15px;
     margin-right: 10px;
     margin-bottom: 10px;
     display: flex;
     float: left;
 }
 
 /*#header-titles{
     width:65%;
     margin-left:10%;
     text-align: left;
     float: left;
   }
   #header-image{
     width:20%;
     margin-right:5%;
     text-align:right;
     float: left;
   }
 
body {
     background:aliceblue;
}

.row {

    float:right;
    margin-top:10px;
}   

.comand {
    border-radius: 5px;
    width: 483px;
    height: 244px;  
    overflow: hidden;
    position: relative;
    margin: 10px 0px 40px 15px;
}
.comand {
    position: absolute;
    height: 244px;
    width: 175px;
    background:aliceblue;
    bottom: 0; 
    left:0px;
}

.comand {

    width: 234px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px 40px 15px;
    display:inline-block;
}
.comand {

    position: absolute;
    height: 140px;
    width: 100%;
    background: azure;
    bottom: 0; 
}
h4 { 
    padding:0;
    margin:10px 0 10px 15px;
    font-size:13;
    font-weight:bold;
    color: lightslategray;
}

h5 { 
    padding:0;
    margin:10px 0 10px 15px;
    font-size:16;
    font-weight:400;
    text-transform:uppercase;
    color:rgb(230,230,230);
} */