body {
    font-family: 'Montserat', sans-serif;
    background: #F5F7FA;
}

.main-container {    

}

.about-me-profession {
font-size: 20px;
font-weight: 700;
color: #000;
}
.about-me-section {
 background: rgb(245, 245, 146);
}
.my-projects-section {
    background: rgb(146, 189, 245)
}
.my-work-experience-section {
    background: rgb(204, 146, 245);
}
.my-education-section {
background: rgb(204, 146, 245);
}
/* sidebar section */
.sidebar-section {
    background: #1e2939;
    width: 370px;
    padding: 40px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
    margin: 50px 0 0 40px;
}
.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
