@import './constants.scss';

body {
    margin: 0;
}

.shield {
    & h1 {
        @include header1;
    }
    &-btn {
        background-color: $secondary;
        color: $white;
        position: absolute;
        width: 1282px;
        height: 49px;
        left: 224px;
        top: 30px;
} 
}
    .logo {
        position: absolute;
        width: 195px;
        height: 49px;
        left: 224px;
        top: 30px;
    }

    .navigation {
        position: absolute;
        width: 1282px;
        height: 49px;
        left: 224px;
        top: 30px;

        &__list {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 40px;
    
            position: absolute;
            width: 401px;
            height: 24px;
            left: 945px;
            top: 42px;
        }
    
        &__item {
            width: 48px;
            height: 24px;
    
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
    
            /* Primary */
    
            color: #03045E;
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 0;
        }
    
        &__link-h {
            width: 48px;
            order: 1;
        }
    
        &__link-a {
            width: 73px;
            order: 2;
        }
    
        &__link-s {
            width: 70px;
            order: 3;
        }
    
        &__link-c {
            width: 90px;
            order: 4;
        }
    }

    .blue {
        width: 50px;
        height: 27px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */

        color: #FFFFFF;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
