@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
body {
  margin: 0;
}

.shieldnavigation {
  position: absolute;
  width: 1282px;
  height: 49px;
  left: 224px;
  top: 30px;
}
.shieldlogo {
  position: absolute;
  width: 195px;
  height: 49px;
  left: 224px;
  top: 30px;
}
.shieldnavigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 401px;
  height: 24px;
  left: 945px;
  top: 42px;
}
.shieldnavigation__item {
  width: 48px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Primary */
  color: #03045E;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.shieldnavigation__link-h {
  width: 48px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.shieldnavigation__link-a {
  width: 73px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.shieldnavigation__link-s {
  width: 70px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.shieldnavigation__link-c {
  width: 90px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.shieldnavigation__btn {
  position: absolute;
  width: 1282px;
  height: 49px;
  left: 224px;
  top: 30px;
}
.shieldbtn--blue {
  width: 50px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #FFFFFF;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.shield h1 {
  font-size: 48px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}
.shield-btn {
  background-color: #0098FF;
  color: #FFFFFF;
}