*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 3%;
    background-color: #fff;
}

.input__fname {
    float: right;
    position: absolute;
    left: 260px;
    top: 130px;
    color: lightslategray;
}

.input__lname {
    float: right;
    position: absolute;
    left: 260px;
    top: 175px;
    color: lightslategray;
}

.input__dob {
    float: right;
    position: absolute;
    left: 260px;
    top: 220px;
    color: lightslategray;
}

.input__Ei {
    float: right;
    position: absolute;
    left: 260px;
    top: 265px;
    color: lightslategray;
}

.input__MN {
    float: right;
    position: absolute;
    left: 260px;
    top: 310px;
    color: lightslategray;
}

button {
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    font-size: 2em;
    font-weight: 200;
    height: 55px;
    width: 163px;
    margin-top: 3%;
}

.inputs > input {
    width: 12%;
    height: 3vh;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 140;
}

.buttons {
    margin-top: 3%;
}