*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEEFE3;
    background-image: url(https://imagizer.imageshack.com/img924/6412/vbqDhH.png);
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    opacity: 0.7;
}

.main__bg-top {
    background-image: url(https://imagizer.imageshack.com/img924/9752/cJLDVo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 450px;
    width: 60%;
    right: 0;
}

.main__bg-bottom {
    background-image: url(https://imagizer.imageshack.com/img924/1770/HpiwJV.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 350px;
    width: 50%;
    bottom: 0;
}

.main {
    min-height: 100vh;
    padding: 1.25rem 9.0625rem;
    max-width: 1300px;
    margin: 0 auto;
}

.navigation {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
}

.logo{
    display: block;
}
.navigation__link {
    text-decoration: none;
    text-transform: capitalize;
    color: #7D8790;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navigation__link--orange {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ED9B59;
}
.orange {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 800px;
    top: 90px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.navigation__item {
    display: inline-block;
    margin-inline: 0.9rem;
    color: #7D8790;
}

.navigation__btns {
    margin-inline: 1rem;
}

.btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #2F281E;
    border-radius: 5px;
    padding: 11px 25px; 
}

.btn--white {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7D8790;
}

.btn--orange {
    background-color: #ED9B59;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #F4EBE6;
    position: absolute; 
    box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
    border-radius: 40px;
}

.btn--big {
    padding: 15px 41px;
}


/* Header section */
.header {
    display: flex;
    justify-content: space-between;
}

 .header__title {
    font-size: 36px;
    font-weight: bold;
 }

 .header__title--light {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ED9B59;
 }

 .header__content {
    max-width: 400px;
 }

.header__text {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1A1D32;
    opacity: 0.7;
}

 .line-one {
    color: #ED9B59;
}

.header__title-main {
    color: #1A1D32;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 101.8%;
    letter-spacing: -0.01em;
}

