*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEEFE3;
    background-image: url(https://imagizer.imageshack.com/img924/6412/vbqDhH.png);
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    background-image: url(https://imagizer.imageshack.com/img923/2367/fXXcM0.png);
}

.main__bg-top {
    background-image: url(https://imagizer.imageshack.com/img924/9752/cJLDVo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 450px;
    width: 60%;
    right: 0;
}

.main__bg-bottom {
    background-image: url(https://imagizer.imageshack.com/img924/1770/HpiwJV.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 350px;
    width: 50%;
    bottom: 0;
}

.main {
    min-height: 100vh;
    padding: 1.25rem 9.0625rem;
    max-width: 1300px;
    margin: 10 10 10 10px;
}

.navigation {
    padding: 0;
    display: flex;
    align-items: center;
}

.logo{
    display: block;
}
.navigation__link {
    text-decoration: none;
    text-transform: capitalize;
    color: #7D8790;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navigation__link--orange {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ED9B59;
}
.orange {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 10px;
    top: 10px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.navigation__item {
    display: inline-block;
    margin-inline: 0.9rem;
    color: #7D8790;
}

.navigation__btns {
    margin-inline: 1rem;
}

.btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #2F281E;
    border-radius: 5px;
    padding: 11px 25px; 
}

.btn--white {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7D8790;
}

.btn--orange {
    background-color: #ED9B59;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #F4EBE6;
    position: absolute; 
    box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
    border-radius: 40px;
}


/* Header section */
.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 36px;
    font-weight: bold;
 }

.header__title--light {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ED9B59;
 }

.header__content {
    max-width: 400px;
 }

.header__text {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1A1D32;
    opacity: 0.7;
}

.line-one {
    color: #ED9B59;
}

.header__title-main {
    color: #1A1D32;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 101.8%;
    letter-spacing: -0.01em;
}

/* Rectangle 460 */

.email__line {
    width: 350px;
    height: 68px;
    left: 290px;
    top: 600px;
    background: #FFFFFF;
    border-radius: 40px;
    } 

.email__svg {
    
    }

form { 
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1A1D32;
    opacity: 0.3;
    margin-left: 40px;
}

.email__btn {
    background: #ED9B59;
    box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
    border-radius: 40px;
    margin-left: 30px;
    margin-top: 16px;
    background-color: #ED9B59;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #F4EBE6;
    position: absolute; 
    border: none;
    padding: 10px;
}

.img {
    display: block;
    max-width: 100%;
    float: right;
    position: absolute;
    width: 651px;
    height: 892px;
    left: 679px;
    top: 108px;
    background-image: url(https://imagizer.imageshack.com/img923/2367/fXXcM0.png);
}

/* footer */

.footer__dates__col1 {
    position: absolute;
    width: 139px;
    height: 127px;
    left: 140px;
    top: 787px;
}

.dates__15k {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1D32;
}

.footer__dates__col2 {
    position: absolute;
    width: 125px;
    height: 124px;
    left: 305px;
    top: 785px;
}

.dates__1456 {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1A1D32;
}

.footer__dates__col3 {
    position: absolute;
    width: 124px;
    height: 129px;
    left: 480px;
    top: 787px;
}

.dates__1m {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1D32;
}

.img__first {
    position: absolute;
    width: 123px;
    height: 44px;
    left: 738px;
    top: 700px;
}

.img__second {
    position: absolute;
    width: 123px;
    height: 44px;
    left: 916px;
    top: 710px;
}

.img__third {
    position: absolute;
    width: 123px;
    height: 44px;
    left: 1008px;
    top: 700px;
}

.img__she {
    position: absolute;
    width: 365px;
    height: 98px;
    left: 733px;
    top: 805px;
}

.img__he {
    position: absolute;
    width: 365px;
    height: 98px;
    left: 759px;
    top: 921px;
}

.img__payment {
    position: absolute;
    width: 374px;
    height: 254px;
    left: 1146px;
    top: 740px;
}

.icon__1 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 704px;
    top: 343px;
}

.icon__2 {
    position: absolute;
    width: 91px;
    height: 91px;
    left: 758px;
    top: 134px;
}

.icon__3 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 1077px;
    top: 156px;
}

.icon__4 {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 1235px;
    top: 326px;
}

.input {
    border: none;
    padding: 15 15 15 15px;
}

