@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*,
*::before,
*::after {
//   box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #544837;
    background-color: #222021;
    background-size:cover;
}

.main {
    min-height: 100vh;
    // padding: 1.25rem 9.0625rem;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(./img/Group\ 10\ \(1\).svg);

    &__nav {
        padding: 1.5rem 0;
        width: 100vw;
        display: flex;
        align-items: center;
        background: #1E0C06;
        box-shadow: 0px -8px 52px rgba(238, 238, 238, 0.17);
        border-radius: 0px 0px 79px 79px;
    }
    &__logo{
        display: block;
    }

    &__nav-link {
        text-decoration: none;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #F5F5F5;
    }
    
    &__nav-list {
        list-style: none;
        padding: 0;
        margin-left: 40%;
    }
    
    &__nav-item {
        display: inline-block;
        margin-inline: 0.9rem;
    }   

    &__img {
        margin-left: 20%;
    }
}

.container {
    margin-top: 10%;
    display: block;
    margin-left: 15%;
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 132.9%;
    text-transform: uppercase;
    color: #F5F5F5;
        &__text{
            margin-left: 10%;
        }
}

.section {
   height: 50%;
    &__name {
        font-family: 'KyivType Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 55px;
        text-transform: uppercase;
        color: #F5F5F5;
        margin-left: 25%;
        margin-top: 10%;
    }
   
    &__content{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20%;
    }
    & h4{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #F5F5F5;
    }
    & p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        color: #F5F5F5;
    }
}

.send{
    // margin-top: 5%;
    margin-left: 5%;

    &__input{
        max-width: 50vw;
        display: inline-block;
        margin-top: 10%;

        & div{
            border: 4px solid #728BAD;
            border-radius: 42px;
            width: 30vw;
            margin: 1%;
            height: 60px;
        }
    }
    &__input-type{
        width: 100%;
        padding: 10px 15px;
        margin: 5px 0;
        box-sizing: border-box;
        color: #FFF;
        background: transparent;
        border: none;
        outline: none;
        height: 60px;
        font-size: 20px;
    }
    &__input-submit {
        margin: 2%;
        background: #728BAD;
        border-radius: 42px;
        border: none;
        width: 160px;
        height: 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #F5F5F5;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 11px 70px;
        gap: 10px;
    }
    &__text{
        max-width: 50vw;
        display: inline-block;
        vertical-align: top;
        padding-top: 10%;
        padding-left: 15%;
    }
    & h1{
        font-family: 'KyivType Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 100px;
        line-height: 132.9%;
        text-transform: uppercase;
        color: #F5F5F5;
        margin-left: 35%;
    }
    & p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 139.4%;
        color: #F5F5F5;
        padding-left: 10%;
        white-space: nowrap;
        margin-bottom: 20%;
    }
    &__page{
        margin-left: 55%;
    }
    & img {
        width: 80%;
        height: 80%;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 132.9%;
    text-transform: uppercase;
    color: #F5F5F5;
    & p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 139.4%;
        color: #F5F5F5;
        margin-left: 10%;
        margin-bottom: 5%;
        white-space: nowrap;
    }
    & footer{
            position: fixed;
            // height: 30vh;
            background: #222021;
            box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;

            & div{
                display: inline-block;
                margin-left: 7%;
            }
            & img{
                margin-top: 0.5em;
            }
    }
}

#map {
    height: 400px;
    width: 30%;
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 20px;
  }


// // @import './colors.scss';
// // @import './fonts.scss';
// // body {
// //     margin: 0;
// //     background-color: $bg;
// //     height: 200vh;
// //     width: calc(100vw - 20%);
// //     padding:0 10%;
// //     font-family: 'Century';
// // }

// .slick-dots li.slick-active button:before {
//     color: $text !important;
// }

// .slick-dots li button:before {
//     color: $text !important;
//     opacity: 0.5;
// }

// .team {
//     width: 100%;
//     color: $text;
//     &__header {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         color: $text;
//     }

//     &__arrows {
//         display: flex;

//         & span {
//             font-size: 18px;
//             cursor: pointer;
//             border: 2px solid hsla(0, 0%, 100%, 0.10);
//             border-radius: 50%;
//             height: 40px;
//             width: 40px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-right: 10px;
//             &:hover {
//                 border: 2px solid hsla(0, 0%, 100%, 0.50);
//             }
//         }
//     }

//     & h2 {
//         font-style: normal;
//         font-weight: 700;
//         font-size: 36px;
//         line-height: 42px;
//         /* identical to box height, or 117% */
//         color: $text;
//         letter-spacing: -0.02em;
//     }

//     &-members {
//         height: 560px;
//         width: 100%;
//     }
//     &-member {
//         height: 520px;
//         padding: 40px;
//         padding-bottom: 0;
//         background-color: $bg-mem;
//         border-radius: 25px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         cursor: pointer;
//         margin-left: 20px;

//         &:hover {
//             box-shadow: 0 3px 9px rgba(255, 255, 255, 0.12), 0 3px 6px rgba(255, 255, 255, 0.24);
//             transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//         }

//         & h4 {
//             margin: 0;
//             font-weight: 700;
//             font-size: 18px;
//             line-height: 22px;
//         }

//         & p {
//             margin: 0;
//             font-style: normal;
//             font-style: normal;
//             font-weight: 400;
//             font-size: 14px;
//             line-height: 17px;
//         }

//         & img {
//             align-self: center;
//             margin: auto;
//         }
//     }
// }

// @media screen and (max-width: 430px) {
//     .team{
//         &__arrows {
//             display: none;
//         }
//         &-members {
//             height: unset;
//         }
//     }
// }

.slick {
    margin-left: 23%;
    width: 50%;
    & img{
       
    }
}

