body {
  margin: 0;
}

.calculator {
  background: -webkit-gradient(linear, left top, right top, from(gold), to(grey));
  background: linear-gradient(to right, gold, grey);
  width: 100vw;
  height: 100vh;
}
.btns {
  font-size: 2rem;
  border: 1px, black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: light;
  opacity: 0.75;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (100px)[4];
  grid-template-columns: repeat(4, 100px);
  -ms-grid-rows: minmax(120px, auto) (100px)[5];
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.btns > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.btns > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.btns > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.btns > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.btns > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.btns > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.btns > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.btns > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.btns > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.btns > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.btns > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.btns > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.btns > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.btns > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.btns > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.btns > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.btns > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.btns > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.btns > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.btns > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
.btns > *:nth-child(21) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.btns > *:nth-child(22) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.btns > *:nth-child(23) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
.btns > *:nth-child(24) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.btns > button:hover {
  background-color: #a9a9a9;
}